:root {
    --minmaxgriditem: 250px;
}

@media only screen and (min-width: 1440px) {
    :root {
        --minmaxgriditem: 300px;
    }
}

.gridClockYou {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--minmaxgriditem), 1fr));
    margin-top: 1.5rem;
    & li {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: transform 0.4s ease;

        &:hover {
            transform: scale(1.02);
        }

        & *:not(img) {
            padding-inline: 1rem;
        }

        & > a {
            padding: 0.75rem 2.5rem;
            display: inline-flex;
            color: var(--white-color);
            background-color: var(--cerulean);
            margin-inline: 1rem;
            margin-block: 1rem;

            width: 50%;

            justify-content: center;
        }
    }

    & img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }

    & h3 {
        padding: 1rem 0 0.5rem;
    }
}

.filterServicesForm {
    display: grid;
    gap: 0.75rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    & select,
    textarea {
        padding: 0.7rem 0.5rem;
        border: 1px solid var(--icicle);

        &:focus {
            outline: none;
        }
    }

    & button {
        margin-right: 0 !important;
    }
}
