@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* calcular el ancho de root mediante --var, KPowell */

.dm-serif-text-regular {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: italic;
}

.lato-thin {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* -------------------- */

:root {
  --blue-topaz: #6eb5c0;
  --cerulean: #006c84;
  --icicle: #e2e8e4;
  --sunrise: #ffccbb;
  --white-color: #fff;
  --overcast: #f1f1f2;
  --warm-gray: #bcbabe;
  --ice: #a1d6e2;
  --glacier-blue: #1995ad;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  overflow-x: clip;
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'DM Serif Text', serif;
  color: var(--cerulean);
  text-wrap: balance;
}

p,
span,
li,
div {
  color: var(--cerulean);
}

p,
span,
li,
div,
a label,
input,
::placeholder,
button,
fieldset,
legend {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  font-size: 1.1rem;
}

.container {
  margin-inline: auto;
  padding: 1.2rem;
}
