@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* calcular el ancho de root mediante --var, KPowell */

:root {
  --serif-FONT: 'DM Serif Text', serif;
  --sans-serif-FONT: 'Fira Sans', sans-serif;
}

.serif-FONT {
  font-family: var(--serif-FONT);
}

.serif-FONT-regular {
  font-family: var(--serif-FONT);
  font-weight: 400;
  font-style: normal;
}

.serif-FONT-regular-italic {
  font-family: var(--serif-FONT);
  font-weight: 400;
  font-style: italic;
}

.sans-serif-FONT {
  font-family: var(--sans-serif-FONT);
}

.sans-serif-FONT-thin {
  font-family: var(--sans-serif-FONT);
  font-weight: 100;
  font-style: normal;
}

.sans-serif-FONT-light {
  font-family: var(--sans-serif-FONT);
  font-weight: 300;
  font-style: normal;
}

.sans-serif-FONT-regular {
  font-family: var(--sans-serif-FONT);
  font-weight: 400;
  font-style: normal;
}

.sans-serif-FONT-bold {
  font-family: var(--sans-serif-FONT);
  font-weight: 700;
  font-style: normal;
}

.sans-serif-FONT-black {
  font-family: var(--sans-serif-FONT);
  font-weight: 900;
  font-style: normal;
}

.sans-serif-FONT-thin-italic {
  font-family: var(--sans-serif-FONT);
  font-weight: 100;
  font-style: italic;
}

.sans-serif-FONT-light-italic {
  font-family: var(--sans-serif-FONT);
  font-weight: 300;
  font-style: italic;
}

.sans-serif-FONT-regular-italic {
  font-family: var(--sans-serif-FONT);
  font-weight: 400;
  font-style: italic;
}

.sans-serif-FONT-bold-italic {
  font-family: var(--sans-serif-FONT);
  font-weight: 700;
  font-style: italic;
}

.sans-serif-FONT-black-italic {
  font-family: var(--sans-serif-FONT);
  font-weight: 900;
  font-style: italic;
}
