.notFound {
  --dvhMinus: 230px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--dvhMinus));
  height: calc(100dvh - var(--dvhMinus));
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
  margin: 5px 0 5px 0;

  & .notfoundimg {
    width: min(70%, 800px);
  }

  & h1 {
    color: #1b6ff1;
    margin-bottom: 20px;
  }

  & a {
    text-decoration: underline;
    margin-top: 20px;

    &:hover {
      font-size: 1.11rem;
    }
  }
}
