.editServiceLayoutWrapper {
  --wrap-columns: 1fr;
  display: grid;
  gap: 1rem;
  grid-template-columns: var(--wrap-columns);

  & .editServiceLayout {
    --the-columns: 1fr;
    display: grid;
    gap: 1rem;
    grid-template-columns: var(--the-columns);
    border: 1px solid #cfcfcf;
    padding: 1rem;
    margin-top: 1.15rem;
    border-radius: 5px;
  }

  & h4 {
    line-height: 1.1rem;
    padding-bottom: 0.5rem;
  }
}

@media (width > 1023px) {
  .editServiceLayoutWrapper {
    --wrap-columns: 35% 1fr;
  }
}
