@tailwind components;

@layer components {
  .mainnav {
    @apply flex flex-wrap pb-5 place-content-between items-center text-white;
  }

  .linkmainnav {
    @apply block px-4 py-2.5 text-white;

    background-color: rgb(70, 70, 70);
    transition: background-color 0.3s linear;

    &:hover {
      background-color: rgb(85, 85, 85);
    }
  }
}
