@tailwind components;

@layer components {
    :root {
        --percentageTranslate: 10%;
    }

    .menuburguer {
        width: 40px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        @apply lg:hidden;
        z-index: 550;
        transform: rotate(0);
        transition: transform 0.35s ease;

        & span {
            height: 4px;
            border-radius: 4px;
            background-color: var(--cerulean);
        }

        &.open {
            transform: rotate(-360deg);
            & span:first-of-type {
                transform: rotate(45deg) translateY(6px);
            }

            & span:nth-child(even) {
                display: none;
            }

            & span:last-of-type {
                transform: rotate(-45deg) translateY(-8px);
            }
        }
    }

    .mainnav {
        @apply place-content-between items-center text-white;

        & span {
            color: var(--cerulean);
        }
    }

    .navdinamica {
        @apply inset-0 flex flex-wrap flex-col items-start justify-start gap-4 px-7 pt-32 pb-10;
        z-index: 500;
        position: fixed;
        transform: translateX(120%);
        transition: transform 0.35s ease-out;
        min-height: var(--body-min-height);
        isolation: isolate;

        > li {
            width: min(70%, 300px);
        }

        .identifyUserIcon {
            width: auto;
            color: var(--cerulean);
            font-size: 2rem;
            position: absolute;
            top: 2.2rem;
            left: 2.5rem;
        }

        &.show {
            transform: translateX(var(--percentageTranslate));
        }
    }

    .linkmainnav {
        @apply block px-4 py-2;

        color: var(--cerulean);
        background-color: transparent;
        transition: background-color 0.3s linear;
        border: 1px solid #f0f0f0;
        min-width: fit-content;
        border-radius: 20px;

        &:hover {
            background-color: var(--overcast);
        }

        &.active {
            background-color: var(--warm-gray);
            color: var(--white-color);
        }

        &.noBgr {
            background-color: transparent;
            color: var(--cerulean);
        }
    }

    @media only screen and (min-width: 640px) {
        :root {
            --percentageTranslate: 40%;
        }

        #root > header {
            position: sticky;
            top: 0;
            background-color: var(--white-color);
            z-index: 1;

            &.sombreado {
                background-color: #fafafa;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
        }
    }

    @media (width < 1024px) {
        .navdinamica {
            background: var(--white-color);
            background: hsl(0 0% 100% / 0.98);
            box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        }

        @supports (backdrop-filter: blur(1rem)) {
            .navdinamica {
                background: hsl(0 0% 100% / 0.85);
                backdrop-filter: blur(1.9rem);
            }
        }

        .navdinamica::before {
            content: '';
            background-image: url('./logo-test.png');
            background-repeat: no-repeat;
            background-position: top 45% left -65%;
            background-size: 60%;
            position: absolute;
            inset: 0;
            opacity: 0.15;
            z-index: -1;
        }

        .linkmainnav,
        .linkmainnav.noBgr {
            background-color: var(--white-color);
        }
    }

    @media only screen and (min-width: 1024px) {
        .navdinamica {
            @apply flex-row p-0;
            position: relative;
            background-color: transparent;
            box-shadow: none;
            transform: none;
            min-height: 0;

            > li {
                width: auto;
                max-width: none;
            }

            &.show {
                transform: translateX(0);
            }

            & .identifyUserIcon {
                position: relative;
                inset: 0.5rem auto auto;
                font-size: 1.7rem;
            }
        }

        .linkmainnav {
            @apply block px-4 py-2;
        }
    }
}
